/* FOOTER */

.footer {
    padding: 2rem ;
    background-color: var(--color-blackLigth);
}

.address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--colorWhite);
    width: 800px;
    margin: 0 auto;
}


.container-decoration h2 {
    color: var(--colorWhite);
    font-family: var(--text-decoration);
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.text-address {
    color: var(--colorWhite);
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.btn-address {
    margin-top: 1rem;
    border: 2px solid var(--colorWhite);
    width: 70px;
    text-align: center;
    background-color: var(--colorWhite);
    cursor: pointer;
    padding: .6rem 0
}

.btn-address a {
    color: var(--color-red);
    font-size: 1rem;
    font-weight: bold;
}

.container-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.container-icons a {
    font-size: 2rem;
    color: var(--colorWhite);
}

.container-icons a:hover {
    color: var(--color-red);
    animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1.1);
    }
}


@media (max-width:480px) {
    .footer {
        padding: 1rem 3rem;
    }

    .address-container {
        width: 300px;
        margin: 0 auto;
        flex-direction: column;
    }

    .container-decoration {
        margin-top: 2rem;
    }

    .container-icons a {
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    .text-address {
        font-size: 1.2rem;
    }

    .container-decoration h2 {
        font-size: 1.2rem;
    }

    .btn-address {
        padding: .3rem;
    }

    .btn-address a {
        font-size: .9rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .address-container {
        width: 400px;
        margin: 0 auto;
    }

    .container-icons a {
        font-size: 1.3rem;
    }

    .address-container {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {

    .address-container {
        width: 600px;
        margin: 0 auto;
    }

    .container-icons a {
        font-size: 1.7rem;
    }
}